body{
    background-color: rgb(74, 6, 137);
    color: #e3beff;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}